xml/IXSI-ger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Mit XMLSpy v2013 sp1 (x64) (http://www.altova.com) von Peter von Grumbkow (HaCon Ingenieurgesellschaft mbH) bearbeitet -->
<!-- edited with XMLSpy v2010 rel. 3 sp1 (x64) (http://www.altova.com) by Peter von Grumbkow (HaCon Ingenieurgesellschaft mbH) -->
<xs:schema xmlns="http://www.ixsi-schnittstelle.de/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ixsi-schnittstelle.de/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--*******************************************************************-->
	<!--Interface for X-Sharing Information (IXSI)-->
	<!--*******************************************************************-->
	<!--Spezifikation, Version 4 vom 2014-11-25-->
	<!--Urheber: Peter von Grumbkow, HaCon Ing.-Ges. mbH und Dirk Hillbrecht, cantamen GmbH-->
	<!--Diese Schnittstellenspezifikation steht unter folgender Lizenz: CC BY-ND 3.0 DE (Creative Commons Namensnennung-Keine Bearbeitung 3.0 Deutschland), http://creativecommons.org/licenses/by-nd/3.0/de/-->
	<!--*******************************************************************-->
	<!--Specification, Version 4 of 2014-11-25-->
	<!--Authors: Peter von Grumbkow, HaCon Ing.-Ges. mbH and Dirk Hillbrecht, cantamen GmbH-->
	<!--This interface specification is licensed according to: CC BY-ND 3.0 DE (Creative Commons Namensnennung-Keine Bearbeitung 3.0 Deutschland), http://creativecommons.org/licenses/by-nd/3.0/de/-->
	<!--*******************************************************************-->
	<xs:annotation>
		<xs:documentation>**** ID Typ-Definitionen ****</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="AreaIDType">
		<xs:annotation>
			<xs:documentation>Typ für Gebiet-IDs.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="PlaceIDType">
		<xs:annotation>
			<xs:documentation>Typ für Standort-IDs.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="PlaceGroupIDType">
		<xs:annotation>
			<xs:documentation>Typ für Standortgruppen-IDs.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="BookeeIDType">
		<xs:annotation>
			<xs:documentation>Typ für bookee IDs.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="ProviderIDType">
		<xs:annotation>
			<xs:documentation>Typ für Anbieter-IDs.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="SessionIDType">
		<xs:annotation>
			<xs:documentation>Typ für Session-IDs.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="BookingIDType">
		<xs:annotation>
			<xs:documentation>Typ für Buchungs-IDs.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="UserIDType">
		<xs:annotation>
			<xs:documentation>Typ für User-IDs.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="SystemIDType">
		<xs:annotation>
			<xs:documentation>Typ für System-IDs.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="GlobalIDType">
		<xs:annotation>
			<xs:documentation>Type for globally unique IDs for identifiying clone entities.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>**** Generelle Typ-Definitionen ****</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="EuroPriceType">
		<xs:annotation>
			<xs:documentation>Typ für Preise in Euro-Cents.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger"/>
	</xs:simpleType>
	<xs:simpleType name="PercentType">
		<xs:annotation>
			<xs:documentation>Typ für Prozent zwischen 0 und 100.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BookingTargetIDType">
		<xs:annotation>
			<xs:documentation>Typ für Buchungsziel-IDs.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BookeeID" type="BookeeIDType"/>
			<xs:element name="ProviderID" type="ProviderIDType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProviderPlaceIDType">
		<xs:annotation>
			<xs:documentation>Typ für Anbieter/Ort-Kombinationen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProviderID" type="ProviderIDType"/>
			<xs:element name="PlaceID" type="PlaceIDType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoordType">
		<xs:annotation>
			<xs:documentation>Typ für geodezimale Koordinaten. Das Referenz-Ellipsoid ist immer WGS84 (GPS).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Longitude">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="-180.0"/>
						<xs:maxInclusive value="180.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Latitude">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="-90.0"/>
						<xs:maxInclusive value="90.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeoRectangleType">
		<xs:annotation>
			<xs:documentation>Typ für ein geographisches Rechteck.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="UpperLeft" type="CoordType">
				<xs:annotation>
					<xs:documentation>Obere linke Ecke des geographischen Rechtecks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LowerRight" type="CoordType">
				<xs:annotation>
					<xs:documentation>Untere rechte Ecke des geographischen Rechtecks.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeoCircleType">
		<xs:annotation>
			<xs:documentation>Typ für einen geographischen Kreis.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Center" type="CoordType">
				<xs:annotation>
					<xs:documentation>Koordinaten des Kreiszentrums.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Radius" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Radius des Kreises in Metern.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeoAreaType">
		<xs:annotation>
			<xs:documentation>Typ für geographische Gebiete.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PolyPoint" type="CoordType" minOccurs="3" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Geopositionen der nächstgelegenen Polygongrenze des Gebiets.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IncExcGeoAreaType">
		<xs:annotation>
			<xs:documentation>Typ für geographische Gebiete mit Ausschlusswahrscheinlichkeit.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GeoAreaType">
				<xs:sequence>
					<xs:element name="Exclude" type="xs:boolean" default="false" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Nur im Falle von "wahr" definiert diese Gebietdefinition einen Ausschluss.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="DurationGroup">
		<xs:annotation>
			<xs:documentation>Gruppe für die wahrscheinliche Dauer und ihrer Varianz um ein Buchungsziel zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Duration" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Wahrscheinliche Dauer um ein Buchungsziel zu erhalten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Variance" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Varianz der wahrscheinlichen Dauer um ein Buchungsziel zu erhalten. Die wahrscheinliche Dauer kann um diesen Wert nach oben oder unten variieren.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="DensityAreaType">
		<xs:annotation>
			<xs:documentation>Typ für geographische Gebiete mit wahrscheinlicher Zeit um ein Fahrzeug zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Area" type="GeoAreaType">
				<xs:annotation>
					<xs:documentation>Definition des geographischen Gebiets.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="DurationGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:annotation>
			<xs:documentation>Typ um eine Adresse zu speichern.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Country" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Name des Landes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Postleitzahl / ZIP-Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="xs:string">
				<xs:annotation>
					<xs:documentation>Name der Stadt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StreetHouseNr" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Straße und Hausnummer.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeoPositionType">
		<xs:annotation>
			<xs:documentation>Typ für Geografische Ortsangabe.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Coord" type="CoordType">
				<xs:annotation>
					<xs:documentation>Geographische Koordinaten.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address" type="AddressType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Adresse der geographischen Position (optional).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimePeriodType">
		<xs:annotation>
			<xs:documentation>Typ für eine Zeitperiode.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Begin" type="xs:dateTime"/>
			<xs:element name="End" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimePeriodProposalType">
		<xs:annotation>
			<xs:documentation>Typ für ein Zeitperioden-Vorschlag.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="TimePeriodType">
				<xs:sequence>
					<xs:element name="MaxWait" type="xs:duration" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Maximale Wartezeit bis die Buchung tatsächlich beginnen kann unter Berücksichtigung des Buchungsterminrasters. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TextType">
		<xs:annotation>
			<xs:documentation>Typ für einen Text.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Text" type="xs:string"/>
			<xs:element name="Language" type="xs:language" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Sprach-Identifier entsprechend BCP 47, welcher auf ISO 639 basiert ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UserInfoType">
		<xs:annotation>
			<xs:documentation>Typ für eine User-Identifizierung.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProviderID" type="ProviderIDType">
				<xs:annotation>
					<xs:documentation>ID des Bereitstellers des Users. Ohne diese ist die User-ID nicht einzigartig.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserID" type="UserIDType">
				<xs:annotation>
					<xs:documentation>User-ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="Password" type="xs:normalizedString">
					<xs:annotation>
						<xs:documentation>Passwort des Users.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Token" type="xs:token">
					<xs:annotation>
						<xs:documentation>Authentifizierungs-Token für den User, welcher das Passwort aus Sicherheitsgründen ersetzt.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AuthType">
		<xs:annotation>
			<xs:documentation>Typ für eine Authentifizierung innerhalb einer Anfrage.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="SessionID" type="SessionIDType">
					<xs:annotation>
						<xs:documentation>Valide Session-ID. Falls eine Session wiederverwendet wird, diese ausfüllen.</xs:documentation>
					</xs:annotation>
				</xs:element>
                                <xs:element name="UserInfo" type="UserInfoType" maxOccurs="unbounded">
                                  <xs:annotation>
						<xs:documentation>Falls keine Session verfügbar ist, muss der User authentisieren.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Anonymous" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Falls weder eine existierende Session, noch eine Nutzerinformation verfügbar ist, kann eine anonyme Session geöffnet werden.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="SessionTimeout" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Falls gesetzt, wünscht der Client eine Session mit gegebenem Inaktivitätstimeout.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionType">
		<xs:annotation>
			<xs:documentation>Typ für eine Transaktions-ID innerhalb von Anfragen und Antworten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TimeStamp" type="xs:dateTime"/>
			<xs:element name="MessageID" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Eindeutige ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ErrorCodeType">
		<xs:annotation>
			<xs:documentation>Aufzählung von Fehlercodes.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation>Typ für Fehler.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="ErrorCodeType">
				<xs:annotation>
					<xs:documentation>Fehlercode, entnommen aus der Liste für erlaubte Fehlercodes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NonFatal" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Falls gesetzt, war die korrespondierende Operation generell erfolgreich und Operationen können fortlaufen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SystemMessage" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Text für Systemlogging, welcher den Fehler detaillierter erläutert. Sollte in englischer Sprache sein.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserMessage" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Text für Userinformation in angeforderter Sprache.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Typ-Definitionen ****</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="ClassType">
		<xs:annotation>
			<xs:documentation>Aufzählung von Autoklassen.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="EngineType">
		<xs:annotation>
			<xs:documentation>Aufzählung von Motoren.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="AttributeClassType">
		<xs:annotation>
			<xs:documentation>Aufzählung von Attributklassen.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="AttributeIDType">
		<xs:annotation>
			<xs:documentation>Aufzählung von Attributcodes.</xs:documentation>
		</xs:annotation>
                <xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:complexType name="AttributeType">
		<xs:annotation>
			<xs:documentation>Typ für strukturierte Attributklassifikation mit assoziiertem Text.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Text" type="TextType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Text des Attributs, welcher dem User angezeigt wird.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WithText" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Definiert, ob dieses Attribut einen Text hat, welcher für den User bestimmt ist, oder nicht.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ID" type="AttributeIDType">
				<xs:annotation>
					<xs:documentation> Interner Code des Attributs zur Referenzierung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Class" type="AttributeClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Klasse von Attributen, entnommen aus der Liste für erlaubte Werte.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Separate" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Falls auf "wahr" gesetzt, beschreibt dieses Attribut Zubehörequipment, welches separat gebucht werden muss.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mandatory" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Definiert, ob das Attribut dem Nutzer in irgendeiner Form angezeigt wird.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Importance" type="PercentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wichtigkeit des Attributs in Prozent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>URL für zusätzliche Informationen zu diesem generellen Attribut. Falls verfügbar, muss der gesamte Attributtext als markierter Link verwendet werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InfoType">
		<xs:annotation>
			<xs:documentation>Typ für struktuierte Information und Text.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Text" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Informationstext für den Benutzer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WithText" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Falls gesetzt enthält die Information Text der dem Benutzer angezeigt werden soll.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Class" type="AttributeClassType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Informationsklasse.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Mandatory" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Falls gesetzt ist es obligatorisch dem Benutzer die Information anzuzeigen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Importance" type="PercentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Wichtigkeit der Information in Prozent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="xs:anyURI" minOccurs="0">
				<xs:annotation>
					<xs:documentation>URL mit weiteren Information. Falls möglich, soll der der Text als Link verwendet werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StopLinkType">
		<xs:annotation>
			<xs:documentation>Typ für eine Verbindung von einem Verleihstandort zu einer Haltestelle.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StopID" type="xs:token"/>
			<xs:group ref="DurationGroup"/>
			<xs:element name="Distance" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Distanz des Fußweges für diese Verbindung in Metern. Für den Fall von Gebieten ist dies die wahrscheinliche Distanz des Fußweges um ein Fahrzeug zu erreichen.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
        <xs:complexType name="ProviderType">
                <xs:annotation>
                        <xs:documentation>Type for Anbieter Informationen.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="ID" type="ProviderIDType">
                                <xs:annotation>
                                        <xs:documentation>Anbieter ID.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Name" type="xs:normalizedString">
                                <xs:annotation>
                                        <xs:documentation>Druckbarer, vollständiger Name des Anbieters.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="CustomerChoice" type="xs:boolean">
                                <xs:annotation>
                                        <xs:documentation>Falls gesetzt, wird der Anbieter zum Heimat/Standardanbieter des Kunden.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="ShortName" type="xs:normalizedString" minOccurs="0">
                                <xs:annotation>
                                        <xs:documentation>Kurzname des Anbieters.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="AttributeID" type="AttributeIDType" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation>Weiter Informationen zu dem Anbieter, z.B. URLs.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>
	<xs:group name="PlaceOrAreaGroup">
		<xs:annotation>
			<xs:documentation>Gruppe für Informationen, welche für Standorte und Free-Floating-Gebiete verwendet werden.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="TextType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Druckbare Namen des Standortes oder Gebiets.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProviderID" type="ProviderIDType">
				<xs:annotation>
					<xs:documentation>Provider-ID, zu welcher der Standort oder das Gebiet gehört.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="StopLink" type="StopLinkType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Fußwegverbindungen zu Stops.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttributeID" type="AttributeIDType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Zusätzliche Informationen zu diesem Standort oder Gebiet.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="PlaceType">
		<xs:annotation>
			<xs:documentation>Typ für Standortinformationen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="PlaceIDType">
				<xs:annotation>
					<xs:documentation>Standort-ID. Für jeden physischen Standard muss diese ID einheitlich sein.</xs:documentation>
				</xs:annotation>
			</xs:element>
                       <xs:element name="GlobalID" type="GlobalIDType" minOccurs="0">
                               <xs:annotation>
                                       <xs:documentation>Global eindeutige ID. Wird benutzt um Duplikate eines Objektes das von verschiedenen Systemen verwaltet wird zu erkennen.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="Coord" type="GeoPositionType">
				<xs:annotation>
					<xs:documentation>Geoposition des Standortes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Capacity" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Kapazität des Standortes zum Zurückweisen von Buchungszielen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="PlaceOrAreaGroup"/>
			<xs:element name="OnPremisesTime" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Zusätzliche Zeit um das Buchungsziel am Abstellort zu finden, z.B. in großen Parkhäusern. Standardmäßig 0. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProbabilityPlaceIDType">
		<xs:annotation>
			<xs:documentation>Typ für eine Standort-ID mit einer Wahrscheinlichkeit, ein Buchungsziel zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="PlaceIDType">
				<xs:annotation>
					<xs:documentation>Standort-ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Probability" type="PercentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Durchschnittliche Wahrscheilichkeit, ein Buchungsziel auf diesem Standort zu erhalten. Verwendbar nur für Standorte innerhalb von Standort-Gruppen.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlaceGroupType">
		<xs:annotation>
			<xs:documentation>Typ für Standort-Gruppen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="PlaceGroupIDType">
				<xs:annotation>
					<xs:documentation>Standort-Gruppen-ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlaceID" type="ProbabilityPlaceIDType" maxOccurs="unbounded"/>
			<xs:element name="Probability" type="PercentType">
				<xs:annotation>
					<xs:documentation>Durchschnittliche Wahrscheinlichkeit, ein Buchungsziel auf einem spezifischen Standort, innerhalb dieser Standort-Gruppe, zu erhalten. Gilt nur für solche Standorte, für die ein spezieller Wert hinterlegt ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FloatingAreaType">
		<xs:annotation>
			<xs:documentation>Typ für Free-Floating-Gebiete.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="AreaIDType">
				<xs:annotation>
					<xs:documentation>Gebiet-ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Area" type="IncExcGeoAreaType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Geographische Gebiete, abgedeckt durch Free-Floaters. Ein Punkt gehört zum Free-Floating-Gebiet, falls dieser zumindest einer der gegebenen Inklusionsareale und nicht einer der Exlusionsareale ist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="PlaceOrAreaGroup"/>
			<xs:group ref="DurationGroup"/>
			<xs:element name="SubArea" type="DensityAreaType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Sub-Gebiete des Free-Floating-Gebiets. Für jedes Sub-Gebiet ist eine geschätzte Zeit (und dessen Varianz) gegeben, um ein Free-Floating-Buchungsziel zu erhalten. Für Stops, die mehr als ein Sub-Gebiet abdecken, wird die Mindestdauer verwendet.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingTargetType">
		<xs:annotation>
			<xs:documentation>Typ für Buchungszielinformationen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="BookeeIDType">
				<xs:annotation>
					<xs:documentation>Bookee-ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
                       <xs:element name="GlobalID" type="GlobalIDType" minOccurs="0">
                               <xs:annotation>
                                       <xs:documentation>Global eindeutige ID. Wird benutzt um Duplikate eines Objektes das von verschiedenen Systemen verwaltet wird zu erkennen.</xs:documentation>
                                </xs:annotation>
                        </xs:element>
			<xs:element name="Name" type="TextType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Druckbarer Name des Bookee.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="PlaceID" type="PlaceIDType">
					<xs:annotation>
						<xs:documentation>Standard-ID, auf dem der Bookee platziert ist. Muss mit stationsbasierten Buchungszielen befüllt werden.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlaceGroupID" type="PlaceGroupIDType">
					<xs:annotation>
						<xs:documentation>Standort-Gruppen-ID dieses Bookees, falls er nicht zu einem festen Standort gehört.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AreaID" type="AreaIDType">
					<xs:annotation>
						<xs:documentation>Gebiet-ID dieses Bookees. Muss mit Free-Floating-Buchungszielen befüllt werden.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Class" type="ClassType">
				<xs:annotation>
					<xs:documentation>Klasse des Bookees.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BookingHorizon" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximale Dauer in der Zukunft, wenn dieses Ziel gebucht werden kann. Ist relativ zur aktuellen Zeit.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BookingGrid" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Netz für Start- und Endzeit der Buchung in Minuten. Sollte ein Divisor von 60 sein. Beispiele: 1, 5, 10, 15, 30, 60.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpeningTime" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Benötigte Zeit um das Fahrzeug aufzuschließen..</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Engine" type="EngineType" minOccurs="0"/>
			<xs:element name="CO2Factor" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>CO2-Emissionen in Gramm pro Kilometer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxDistance" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Maximale Distanz in Metern, die ein Bookee ohne längere Stops zurücklegen kann. Falls nicht gegeben, ist kein Limit angenommen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AttributeID" type="AttributeIDType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Zusätzliche Informationen zu diesem Bookee, z.B. Klimaanlage, Navigationssystem, etc..</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingTargetPropertiesType">
		<xs:annotation>
			<xs:documentation>Typ für benötigte Eigenschaften eines Buchungsziels für synchrone Verfügbarkeit.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="BookingTargetIDType">
				<xs:annotation>
					<xs:documentation>Buchungsziel-ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Distance" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Distanz zu Fahren in Metern. Das Car-Sharing-System sollte nur die verfügbaren Buchungsziele zurückgeben, welche die Distanz zurücklegen können (gemäß Ladestatus).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeverityFactor" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Severity-Faktor der vorgeschlagenden Route in Prozent. 100 repräsentieren eine nahezu vollkommen flache Route.Je höher der Wert, desto mehr Energie wird für das Fahren der Route verbraucht. Beispielsweise ein Wert von 200 indiziert, dass doppelt so viel Energie verbraucht wird, wie es bei einer vollkommen flachen Route der Fall wäre.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingTargetAvailabilityType">
		<xs:annotation>
			<xs:documentation>Typ für Verfügbarkeit von Buchungszielen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="BookingTargetIDType"/>
			<xs:element name="PlaceID" type="PlaceIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Für aktuell verfügbare Buchungsziele, die nicht an einen spezifischen Standort gebunden sind, sollte der aktuelle Standort zurückgegeben werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeoPosition" type="GeoPositionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Für aktuell verfügbare Buchungsziele, welche nicht an einen spezifischen Standort gebunden sind, sollte die aktuelle Position zurückgegeben werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Inavailability" type="TimePeriodType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Perioden der Nicht-Verfügbarkeit von Buchungszielen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentStateOfCharge" type="PercentType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aktueller Ladestatus der Buchungsziels in Prozent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentDrivingRange" type="xs:nonNegativeInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Aktuelle Reichweite des Buchungsziels in Metern, gegeben einer nahezu flachen Route. Falls nicht gegeben, wird für das Fahrzeug einen unbegrenzte Reichweite angenommen.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingTargetChangeAvailabilityType">
		<xs:annotation>
			<xs:documentation>Typ für Änderungen der Verfügbarkeit von Buchungszielen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="BookingTargetIDType">
				<xs:annotation>
					<xs:documentation>Buchungsziel-ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlaceID" type="PlaceIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Für aktuell verfügbare Buchungsziele, welche nicht an einen spezifischen Standort gebunden sind, sollte der aktuelle Standort zurückgegeben werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeoPosition" type="GeoPositionType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Für neu verfügbare Fahrzeuge, welche nicht an einen spezifischen Standort gebunden sind, sollte die Position zurückgegeben werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="Inavailability" type="TimePeriodType">
					<xs:annotation>
						<xs:documentation>Neue Nicht-Verfügbarkeitsperiode.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Availability" type="TimePeriodType">
					<xs:annotation>
						<xs:documentation>Neue Verfügbarkeitsperiode.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlaceAvailabilityType">
		<xs:annotation>
			<xs:documentation>Typ für die verfügbare Kapazität eines Standortes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="ProviderPlaceIDType"/>
			<xs:element name="Availability" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Aktuell verfügbare Kapazität um Buchungsziele zurückzugeben.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingChangeType">
		<xs:annotation>
			<xs:documentation>Typ für Änderungen einer Buchung.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BookingID" type="BookingIDType"/>
			<xs:choice>
				<xs:element name="Cancelled" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Buchung wurde vom User abgebrochen. Eventuell über verschiedene Kanäle (z.B. native App, Telefon, etc.). Anschließend ist die Buchungs-ID nicht mehr valide.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="NewPeriod" type="TimePeriodType">
					<xs:annotation>
						<xs:documentation>Der Buchung wurde eine neue Periode vom User zugewiesen. Eventuell über verschiedene Kanäle (z.B. native App, Telefon, etc.).</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Notification" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Die Buchung ist noch valide, allerdings gibt es Informationen für den User, betreffend der Buchung.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Impossible" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Es war nicht möglich die Buchung auszuführen von Seiten des Car-Sharing-Systems (z.B. durch Fahrzeugversagen). Trotzdem ist die Buchung weiter valide, solange die Ausführung später ermöglicht wird.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Repossiblized" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Es war möglich, die Buchung erneut auszuführen (z.B. durch das Ersetzen eines Fahrzeugs).</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="Reason" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TariffDetailType">
		<xs:annotation>
			<xs:documentation>Typ für eine Tarifkomponente einschließlich des Preises.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Druckbarer Name des Tarifdetails.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Price" type="EuroPriceType">
				<xs:annotation>
					<xs:documentation>Preis in Euro-Cent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Druckbare Beschreibung des Tarifdetails.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TariffType">
		<xs:annotation>
			<xs:documentation>Typ für einen Tarif einschließlich des Preises.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Druckbarer Name des Tarifs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Price" type="EuroPriceType">
				<xs:annotation>
					<xs:documentation>Preis in Euro-Cent.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Druckbare Beschreibung des Tarifs.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Detail" type="TariffDetailType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Details des Endpreises. Falls bereitgestellt, sollten diese einen Satz Preiskomponenten beinhalten, welche den Gesamtpreis bilden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Info" type="InfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional information for this tariff.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OriginDestType">
		<xs:annotation>
			<xs:documentation>Typ für den Ausgangspunkt oder den Reisezielort.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="PlaceID" type="PlaceIDType">
				<xs:annotation>
					<xs:documentation>Standort-ID. Falls gegeben, bezieht sich die Lokalität auf den Standort mit dieser ID.Verwendet für standort-basierte Buchungsziele.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeoPosition" type="CoordType">
				<xs:annotation>
					<xs:documentation>Falls gegeben, bezieht sich die Lokalität auf diese Geoposition. Verwendet für Free-Floating-Buchungsziele.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:group name="OriginDestGroup">
		<xs:annotation>
			<xs:documentation> Gruppe für Ausgangspunkt und Reisezielort.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Origin" type="OriginDestType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lokalität, wo Buchungsziel aufgenommen wird.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dest" type="OriginDestType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Lokalität, wo Buchungsziel zurückgegeben wird.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="BookingType">
		<xs:annotation>
			<xs:documentation>Typ für eine Buchung.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ID" type="BookingIDType"/>
			<xs:element name="TimePeriod" type="TimePeriodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Tatsächlicher Zeitraum für die Buchung, wurde ggfs. an das Buchungsraster angepasst.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Info" type="InfoType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Weitere Informationen zur Buchung.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AbstractBaseResponseType" abstract="true">
		<xs:annotation>
			<xs:documentation>Abstrakter Typ als eine Basis für Antworten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Error" type="ErrorType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Basisservice (A) : Offene Session ****</xs:documentation>
	</xs:annotation>
	<xs:complexType name="OpenSessionRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage für das Öffnen einer Session für den User. Kann für Funktionen 2, 4, und 6 verwendet werden.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="OpenSessionResponseType">
		<xs:annotation>
			<xs:documentation>Antwort für das Öffnen einer Session für einen User.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CloseSessionRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage für das Schließen einer existierenden Session.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="CloseSessionResponseType">
		<xs:annotation>
			<xs:documentation>Antort für das Schließen einer existierenden Session.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Basisservice (B) : Abonnements ****</xs:documentation>
	</xs:annotation>
	<xs:complexType name="HeartBeatRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage für das Prüfen einer Verbindung.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="HeartBeatResponseType">
		<xs:annotation>
			<xs:documentation>Antwort für das Prüfen einer Verbindung.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Basisservice (C) : Token-Generierung ****</xs:documentation>
	</xs:annotation>
	<xs:complexType name="TokenGenerationRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage für eine Tokengenerierung für einen User.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="TokenGenerationResponseType">
		<xs:annotation>
			<xs:documentation>Antwort für eine Tokengenerierung für einen User.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="Token" type="xs:token" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Token für einen User. Kann zukünftig anstelle eines Passwortes für die Athentifizierung verwendet werden.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Service (1) : Statische Daten ****</xs:documentation>
	</xs:annotation>
	<xs:complexType name="BookingTargetsInfoRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage um alle Informationen zu allen Buchungszielen zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProviderFilter" type="ProviderIDType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Falls gesetzt, beinhaltet der Filter jene Provider, für die Daten angefragt sind. Falls nicht gesetzt, sind Daten für alle Provider angefragt.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingTargetsInfoResponseType">
		<xs:annotation>
			<xs:documentation>Antwort um alle Informationen für alle Buchungsziele zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="Timestamp" type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Zeitstempel dieser Datenlieferung. Das liefernde System sollte in der Lage sein, Änderungen durch diesen Zeitstempel zu identifizieren.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Bookee" type="BookingTargetType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Place" type="PlaceType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="PlaceGroup" type="PlaceGroupType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="FreeFloatingArea" type="FloatingAreaType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Provider" type="ProviderType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Attributes" type="AttributeType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChangedProvidersRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage um jene Anbieter mit veränderten statischen Daten zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Zeitstempel der statischen Datenlieferung, für welche die Änderungen angefordert wurden.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChangedProvidersResponseType">
		<xs:annotation>
			<xs:documentation>Antwort um Anbieter mit veränderten statischen Daten zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="Provider" type="ProviderIDType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation> Liste von Anbietern mit Änderungen in deren statischen Daten.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Service (2) : Verfügbarkeitsanfrage ****</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AvailabilityRequestType">
		<xs:annotation>
			<xs:documentation>Synchrone Anfrage von Verfügbarkeiten von Buchungszielen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="BookingTarget" type="BookingTargetPropertiesType" maxOccurs="unbounded"/>
				<xs:element name="Circle" type="GeoCircleType"/>
				<xs:element name="GeoRectangle" type="GeoRectangleType"/>
			</xs:choice>
			<xs:element name="TimePeriod" type="TimePeriodType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Relevante Zeitperiode, für diese Verfügbarkeiten der gegebenen Buchungsziele zurückgegeben werden sollen. Falls nicht gegeben, sollten aktuell verfügbare Buchungsziele ausgegeben werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvailabilityResponseType">
		<xs:annotation>
			<xs:documentation>Synchrone Antwort für die Verfügbarkeit von Buchungszielen.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="BookingTarget" type="BookingTargetAvailabilityType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Liste von Buchungszielen und deren Verfügbarkeiten. Nicht gelistete Buchungsziele sind dem Car-Sharing-System entweder nicht bekannt, oder nicht in der angefragten Zeitperiode verfügbar.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Service (2a) : Standortverfügbarkeitsanfrage ****</xs:documentation>
	</xs:annotation>
	<xs:complexType name="PlaceAvailabilityRequestType">
		<xs:annotation>
			<xs:documentation>Synchrone Anfrage für verfügbare Kapazität der Standorte.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="PlaceID" type="ProviderPlaceIDType" maxOccurs="unbounded"/>
				<xs:element name="Circle" type="GeoCircleType"/>
				<xs:element name="GeoRectangle" type="GeoRectangleType"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlaceAvailabilityResponseType">
		<xs:annotation>
			<xs:documentation>Synchrone Antwort für verfügbare Kapazität der Standorte.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="Place" type="PlaceAvailabilityType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Liste der Standorte und deren verfügbare Kapazität. Nicht gelistete Standorte sind dem Car-Sharing-System entweder nicht bekannt, oder nicht in der angefragten Zeitperiode verfügbar.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Service (3) : Verfügbarkeitsabonnement ****</xs:documentation>
	</xs:annotation>
	<xs:complexType name="AvailabilitySubscriptionRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage zum Abonnement von Verfügbarkeiten von gegeben Buchungszielen.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BookingTargetID" type="BookingTargetIDType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Buchungsziele abonnieren/ Abo kündigen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Unsubscription" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Falls gesetzt, Abo von gegebenen Buchungszielen kündigen. Andernfalls abonnieren.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EventHorizon" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Falls gesetzt, beschreibt der Ereignishorizont die Zeit in der Zukunft, für diese das Abo valide ist. Der Wert wird für alle abonnierten Buchungsziele verwendet. Diese Dauer ist relativ zur aktuellen Zeit.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AvailabilitySubscriptionResponseType">
		<xs:annotation>
			<xs:documentation>Antwort für Abo von Verfügbarkeiten für ein gegebenes Buchungsziel.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AvailabilitySubscriptionStatusRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage um alle abonnierten Buchungsziele zu erhalten.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="AvailabilitySubscriptionStatusResponseType">
		<xs:annotation>
			<xs:documentation>Antwort um alle abonnierten Buchungsziele zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="BookingTargetID" type="BookingTargetIDType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Abonnierte Buchungsziele.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CompleteAvailabilityRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage um den vollständigen aktuellen Status von abonnierten Verfügbarkeiten zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MaxTargets" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Definiert die maximale Anzahl von Zielen, die in einer Nachricht zurückgegeben werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompleteAvailabilityResponseType">
		<xs:annotation>
			<xs:documentation>Antwort um den vollständigen aktuellen Status der Verfügbarkeiten zu erhalten. Einige solcher Antworten können zu einer einzigen Anfrage gehören.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="MessageBlockID" type="xs:token">
						<xs:annotation>
							<xs:documentation> ID des Blocks, zu dem diese Nachricht gehört. Alle Nachrichten des Blocks haben dieselbe ID.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Last" type="xs:boolean" default="false" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Falls gesetzt, ist die Nachricht die letzte des korrespondierenden Blocks. Andernfalls werden mehr Nachrichten desselben Blocks folgen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BookingTarget" type="BookingTargetAvailabilityType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AvailabilityPushMessageType">
		<xs:annotation>
			<xs:documentation>Push-Nachricht, die Änderungen in der Verfügbarkeit von abonnierten Buchungszielen beinhaltet.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AvailabilityChange" type="BookingTargetChangeAvailabilityType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Service (3a) : Standortverfügbarkeitsabonnement ****</xs:documentation>
	</xs:annotation>
	<xs:complexType name="PlaceAvailabilitySubscriptionRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage zum Abonnieren von verfügbaren Kapazitäten von Standorten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PlaceID" type="ProviderPlaceIDType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Standorte zu abonnieren / Abo kündigen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Unsubscription" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Falls gesetzt, Kündigen der Abos gegebener Buchungsziele. Andernfalls abonnieren.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlaceAvailabilitySubscriptionResponseType">
		<xs:annotation>
			<xs:documentation>Antwort zum Abonnieren der verfügbaren Kapazität von Standorten.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlaceAvailabilitySubscriptionStatusRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage um alle abonnierten Standorte zu erhalten.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="PlaceAvailabilitySubscriptionStatusResponseType">
		<xs:annotation>
			<xs:documentation>Antwort um alle abonnierten Standorte zu erhalten</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="PlaceID" type="ProviderPlaceIDType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Abonnierte Standorte.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CompletePlaceAvailabilityRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage um den vollständigen aktuellen Status abonnierter Standorte zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MaxPlaces" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Definiert die maximale Anzahl an Standorten, die in einer Nachricht zurückgegeben werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompletePlaceAvailabilityResponseType">
		<xs:annotation>
			<xs:documentation>Antwort um den vollständigen aktuellen Status abonnierter Standorte zu erhalten. Verschiedene solcher Antworten können zu einer einzelnen Anfrage gehören.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="MessageBlockID" type="xs:token">
						<xs:annotation>
							<xs:documentation> ID des Blocks, zu dem die Nachricht gehört. Alle Nachrichten eines Blocks haben dieselbe ID.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Last" type="xs:boolean" default="false" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Falls gesetzt, ist diese Nachricht die Letzte des korrespondierenden Blocks. Andernfalls werden mehr Nachrichten desselben Blocks folgen.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PlaceAvailability" type="PlaceAvailabilityType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PlaceAvailabilityPushMessageType">
		<xs:annotation>
			<xs:documentation>Push-Nachricht, die Änderungen in der Verfügbarkeit von abonnierten Standorten enthält.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PlaceAvailability" type="PlaceAvailabilityType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Service (4) : Buchen ****</xs:documentation>
	</xs:annotation>
	<xs:complexType name="BookingRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage zum Buchen eines Buchungsziels.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BookingTargetID" type="BookingTargetIDType"/>
			<xs:element name="TimePeriodProposal" type="TimePeriodProposalType">
				<xs:annotation>
					<xs:documentation>Vorgeschlagene Zeitperiode für die Nutzung eines Buchungsziels.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="OriginDestGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingResponseType">
		<xs:annotation>
			<xs:documentation>Antwort zur Buchung eines Buchungsziels.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="Booking" type="BookingType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Information über eine erfolgreiche Buchung.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ChangeBookingRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage zur Änderung einer Buchung.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BookingID" type="BookingIDType">
				<xs:annotation>
					<xs:documentation>Zu ändernde Buchung.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="NewTimePeriodProposal" type="TimePeriodProposalType">
					<xs:annotation>
						<xs:documentation>Neuer Zeitperioden-Vorschlag um die Buchung zu ändern.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Cancel" type="xs:boolean">
					<xs:annotation>
						<xs:documentation>Die Buchung soll abgebrochen werden.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChangeBookingResponseType">
		<xs:annotation>
			<xs:documentation>Antwort für eine Buchungsänderung.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="Booking" type="BookingType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Information über eine erfolgreiche Umbuchung.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Service (5) : Buchungsalarm-Abonnement ****</xs:documentation>
	</xs:annotation>
	<xs:complexType name="BookingAlertSubscriptionRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage um Alarmmeldungen für gegebene Buchungen zu abonnieren.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BookingID" type="BookingIDType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Buchungen zu abonnieren / kündigen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Unsubscription" type="xs:boolean" default="false" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Falls gesetzt, gegebene Abos der Buchungen kündigen. Andernfalls abonnieren.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BookingAlertSubscriptionResponseType">
		<xs:annotation>
			<xs:documentation>Antwort um Alarmmeldungen für gegebene Buchungen zu abonnieren.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BookingAlertSubscriptionStatusRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage um alle abonnierten Buchungen zu erhalten.</xs:documentation>
		</xs:annotation>
	</xs:complexType>
	<xs:complexType name="BookingAlertSubscriptionStatusResponseType">
		<xs:annotation>
			<xs:documentation>Antwort um alle abonnierten Buchungen zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="BookingID" type="BookingIDType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Abonnierte Buchungen.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CompleteBookingAlertRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage um den vollständigen aktuellen Status abonnierter Buchungsalarmmeldungen zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MaxResults" type="xs:integer" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Definiert die maximale Anzahl Resultate, die in einer Nachricht zurückgegeben werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompleteBookingAlertResponseType">
		<xs:annotation>
			<xs:documentation>Nachricht um den vollständigen aktuellen Status abonnierter Buchungen zu erhalten. Verschiedene solcher Antworten können zu einer einzigen Anfrage gehören.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="MessageBlockID" type="xs:token">
						<xs:annotation>
							<xs:documentation>ID des Blocks, zu dem diese Nachricht gehört. Alle Nachrichten eines Blockes haben dieselbe ID.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Last" type="xs:boolean" default="false" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Falls gesetzt, ist diese Nachricht die Letzte im korrespondierenden Block. Andernfalls folgen mehr Nachrichten desselben Blocks.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="BookingChange" type="BookingChangeType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BookingAlertPushMessageType">
		<xs:annotation>
			<xs:documentation>Push-Nachricht, die Alarmmeldungen für abonnierte Buchungen enthält.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BookingChange" type="BookingChangeType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Service (6) : Preisinformation ****</xs:documentation>
	</xs:annotation>
	<xs:complexType name="PriceInformationRequestType">
		<xs:annotation>
			<xs:documentation>Anfrage um einen Preis zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BookingTargetID" type="BookingTargetIDType"/>
			<xs:element name="TimePeriodProposal" type="TimePeriodProposalType">
				<xs:annotation>
					<xs:documentation>Vorgeschlagene Zeitperiode für die Nutzung des Buchungsziels.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Distance" type="xs:nonNegativeInteger">
				<xs:annotation>
					<xs:documentation>Distanz zu Fahren in Metern.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="OriginDestGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceInformationResponseType">
		<xs:annotation>
			<xs:documentation>Antwort um einen Preis zu erhalten.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AbstractBaseResponseType">
				<xs:sequence>
					<xs:element name="Tariff" type="TariffType" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>**** Nachrichtencontainer ****</xs:documentation>
	</xs:annotation>
	<xs:group name="UserTriggeredRequestGroup">
		<xs:annotation>
			<xs:documentation>Anfragen, die direkt durch Userinteraktion ausgelößt werden.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Language" type="xs:language" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Angefragte Sprache für die Resultate. Alle Texte zurückgegeben in den betreffenden Antworten, sollten in dieser Sprache sein.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Auth" type="AuthType">
				<xs:annotation>
					<xs:documentation>Authentifikationsinformationen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="OpenSession" type="OpenSessionRequestType">
					<xs:annotation>
						<xs:documentation>Öffnen einer Session für einen User.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CloseSession" type="CloseSessionRequestType">
					<xs:annotation>
						<xs:documentation>Explizites Schließen einer Session.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TokenGeneration" type="TokenGenerationRequestType">
					<xs:annotation>
						<xs:documentation>Generieren eines Tokens für einen User, der sein Passwort ersetzt.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Availability" type="AvailabilityRequestType">
					<xs:annotation>
						<xs:documentation>Die Verfügbarkeit für gegebene Buchungsziele erhalten.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlaceAvailability" type="PlaceAvailabilityRequestType">
					<xs:annotation>
						<xs:documentation>Die verfügbare Kapazität für gegebene Standorte erhalten.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PriceInformation" type="PriceInformationRequestType">
					<xs:annotation>
						<xs:documentation>Beziehen von Preisinformationen.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Booking" type="BookingRequestType">
					<xs:annotation>
						<xs:documentation>Buchung eines Buchungsziels.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ChangeBooking" type="ChangeBookingRequestType">
					<xs:annotation>
						<xs:documentation>Ändern einer Buchung.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="UserTriggeredResponseGroup">
		<xs:annotation>
			<xs:documentation>Antworten, die direkt durch einer Userinteraktion ausgelöst werden.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SessionID" type="SessionIDType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Falls zurückgegeben wurde eine Session für einen User geöffnet.Diese Session-ID kann für Authentifizierung in der nächsten Anfrage verwendet werden.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SessionTimeout" type="xs:duration" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Inaktivitäts-Timeout einer Session. Wenn eine Zeitspanne von Inaktivität für diese Session diesen Wert übersteigt, läuft die Session ab.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:element name="OpenSession" type="OpenSessionResponseType">
					<xs:annotation>
						<xs:documentation>Öffnen einer Session für den User.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CloseSession" type="CloseSessionResponseType">
					<xs:annotation>
						<xs:documentation>Explizites Schließen einer Session.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TokenGeneration" type="TokenGenerationResponseType">
					<xs:annotation>
						<xs:documentation>Generieren eines Tokens für einen User, der sein Passwort ersetzt.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Availability" type="AvailabilityResponseType">
					<xs:annotation>
						<xs:documentation>Beziehen der Verfügbarkeit der gegebenen Buchungsziele.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlaceAvailability" type="PlaceAvailabilityResponseType">
					<xs:annotation>
						<xs:documentation>Beziehen der verfügbaren Kapazitäten für gegebene Standorte.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PriceInformation" type="PriceInformationResponseType">
					<xs:annotation>
						<xs:documentation>Beziehen einer Preisinformation.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Booking" type="BookingResponseType">
					<xs:annotation>
						<xs:documentation>Buchen eines Buchungsziels.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ChangeBooking" type="ChangeBookingResponseType">
					<xs:annotation>
						<xs:documentation>Ändern einer Buchung.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="StaticDataRequestGroup">
		<xs:annotation>
			<xs:documentation>Anfragen für statische Daten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="BookingTargetsInfo" type="BookingTargetsInfoRequestType">
					<xs:annotation>
						<xs:documentation>Beziehen statischer Daten für alle Buchungsziele.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ChangedProviders" type="ChangedProvidersRequestType">
					<xs:annotation>
						<xs:documentation>Beziehen von Anbietern mit Änderungen in deren statischer Daten seit dem gegeben Timestamp.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="StaticDataResponseGroup">
		<xs:annotation>
			<xs:documentation> Antworten, die statische Daten beinhalten.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="BookingTargetsInfo" type="BookingTargetsInfoResponseType">
					<xs:annotation>
						<xs:documentation>Beziehen statischer Daten für alle Buchungsziele.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ChangedProviders" type="ChangedProvidersResponseType">
					<xs:annotation>
						<xs:documentation>Beziehen von Anbietern mit Änderungen in deren statischer Daten seit dem gegebenen Zeitstempel.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="SubscriptionAdministrationRequestGroup">
		<xs:annotation>
			<xs:documentation>Anfragen für das Verwalten von Abonnementverbindungen. Jede Anfrage wird exakt von einer Antwort beantwortet.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="HeartBeat" type="HeartBeatRequestType">
					<xs:annotation>
						<xs:documentation>Prüfen einer Verbindung.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="SubscriptionAdministrationResponseGroup">
		<xs:annotation>
			<xs:documentation>Antworten für das Verwalten von Abonnementverbindungen. Jede Anfrage wird exakt von einer Antwort beantwortet.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="HeartBeat" type="HeartBeatResponseType">
					<xs:annotation>
						<xs:documentation>Prüfen einer Verbindung.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="SubscriptionRequestGroup">
		<xs:annotation>
			<xs:documentation>Requests for subscriptions. Each request is answered by exactly one response.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="AvailabilitySubscription" type="AvailabilitySubscriptionRequestType">
					<xs:annotation>
						<xs:documentation>Abo von Verfügbarkeiten von Buchungszielen.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AvailabilitySubscriptionStatus" type="AvailabilitySubscriptionStatusRequestType">
					<xs:annotation>
						<xs:documentation>Prüfen von Verfügbarkeitsabonnements.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlaceAvailabilitySubscription" type="PlaceAvailabilitySubscriptionRequestType">
					<xs:annotation>
						<xs:documentation>Abonnieren von verfügbaren Standortkapazitäten.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlaceAvailabilitySubscriptionStatus" type="PlaceAvailabilitySubscriptionStatusRequestType">
					<xs:annotation>
						<xs:documentation>Prüfen von Standortabonnements.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BookingAlertSubscription" type="BookingAlertSubscriptionRequestType">
					<xs:annotation>
						<xs:documentation>Abonnieren von Buchungsänderungen.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BookingAlertSubscriptionStatus" type="BookingAlertSubscriptionStatusRequestType">
					<xs:annotation>
						<xs:documentation>Prüfen von Buchungsabonnements.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="SubscriptionResponseGroup">
		<xs:annotation>
			<xs:documentation>Antworten für Abonnements. Jede Antwort korrespondiert exakt mit einer Anfrage.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="AvailabilitySubscription" type="AvailabilitySubscriptionResponseType">
					<xs:annotation>
						<xs:documentation>Abo von Verfügbarkeiten von Buchungszielen.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AvailabilitySubscriptionStatus" type="AvailabilitySubscriptionStatusResponseType">
					<xs:annotation>
						<xs:documentation>Prüfen von Verfügbarkeitsabos.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlaceAvailabilitySubscription" type="PlaceAvailabilitySubscriptionResponseType">
					<xs:annotation>
						<xs:documentation>Abonnieren von verfügbaren Kapazitäten von Standorten.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlaceAvailabilitySubscriptionStatus" type="PlaceAvailabilitySubscriptionStatusResponseType">
					<xs:annotation>
						<xs:documentation>Prüfen von Standortabos.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BookingAlertSubscription" type="BookingAlertSubscriptionResponseType">
					<xs:annotation>
						<xs:documentation>Abonieren von Buchungsänderungen.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BookingAlertSubscriptionStatus" type="BookingAlertSubscriptionStatusResponseType">
					<xs:annotation>
						<xs:documentation>Prüfen von Buchungsabos.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="RequestMessageGroup">
		<xs:annotation>
			<xs:documentation>Anfrage um abonnierte Informationen zu erhalten.Jede Anfrage wird mindestens durch eine Antwort beantwortet.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="CompleteAvailability" type="CompleteAvailabilityRequestType">
					<xs:annotation>
						<xs:documentation>Beziehen aller abonnierten Verfügbarkeitsinformationen.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CompletePlaceAvailability" type="CompletePlaceAvailabilityRequestType">
					<xs:annotation>
						<xs:documentation>Beziehen aller abonnierten Standortinformationen.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CompleteBookingAlert" type="CompleteBookingAlertRequestType">
					<xs:annotation>
						<xs:documentation>Beziehen aller abonnierten Buchungsänderungen.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="ResponseMessageGroup">
		<xs:annotation>
			<xs:documentation>Antworten um abonnierte Informationen. Jede Antwort korrespondiert exakt mit einer Anfrage.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="CompleteAvailability" type="CompleteAvailabilityResponseType">
					<xs:annotation>
						<xs:documentation>Beziehen aller abonnierten Verfügbarkeitsinformationen.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CompletePlaceAvailability" type="CompletePlaceAvailabilityResponseType">
					<xs:annotation>
						<xs:documentation>Beziehen aller abonnierten Standortinformationen.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CompleteBookingAlert" type="CompleteBookingAlertResponseType">
					<xs:annotation>
						<xs:documentation>Beziehen aller abonnierten Buchungsänderungen.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="PushMessageGroup">
		<xs:annotation>
			<xs:documentation>Nachrichten um abonnierte Informationen zu erhalten. Nachrichten korrespondieren nicht mit irgendeiner Anfrage oder Anmtwort.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="AvailabilityPush" type="AvailabilityPushMessageType">
					<xs:annotation>
						<xs:documentation>Push-Nachrichten für Verfügbarkeiten.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlaceAvailabilityPush" type="PlaceAvailabilityPushMessageType">
					<xs:annotation>
						<xs:documentation>Push-Nachrichten für Standorte.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="BookingAlertPush" type="BookingAlertPushMessageType">
					<xs:annotation>
						<xs:documentation>Push-Nachrichten für Buchungsänderungen.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="QueryRequestType">
		<xs:annotation>
			<xs:documentation>Anfragenachrichten in Anfrageschema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Transaction" type="TransactionType">
				<xs:annotation>
					<xs:documentation>Transaktions-Identifier, gesetzt vom Client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SystemID" type="SystemIDType">
				<xs:annotation>
					<xs:documentation>ID des Clientsystems.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:group ref="StaticDataRequestGroup"/>
				<xs:group ref="UserTriggeredRequestGroup"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QueryResponseType">
		<xs:annotation>
			<xs:documentation>Antwortnachrichten in Anfrageschema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Transaction" type="TransactionType">
				<xs:annotation>
					<xs:documentation>Transaktions-Identifier, kopiert von der korrespondierenden Anfrage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalcTime" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Benötigte Zeit um die beinhaltete Resultate zu berechnen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:group ref="StaticDataResponseGroup"/>
				<xs:group ref="UserTriggeredResponseGroup"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubscriptionRequestType">
		<xs:annotation>
			<xs:documentation>Anfragenachricht in Abonnementschema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Transaction" type="TransactionType">
				<xs:annotation>
					<xs:documentation>Transaktions-Identifier, gesetzt vom Client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SystemID" type="SystemIDType">
				<xs:annotation>
					<xs:documentation>ID des Clientsystems.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:group ref="SubscriptionAdministrationRequestGroup"/>
				<xs:group ref="SubscriptionRequestGroup"/>
				<xs:group ref="RequestMessageGroup"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubscriptionResponseType">
		<xs:annotation>
			<xs:documentation>Anfragenachrichten in Abonnementschema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Transaction" type="TransactionType">
				<xs:annotation>
					<xs:documentation>Transaktions-Identifier, kopiert von der korrespondierenden Anfrage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CalcTime" type="xs:duration">
				<xs:annotation>
					<xs:documentation>Benötigte Zeit um die beinhalteten Resultate zu berechnen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:group ref="SubscriptionAdministrationResponseGroup"/>
				<xs:group ref="SubscriptionResponseGroup"/>
				<xs:group ref="ResponseMessageGroup"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SubscriptionMessageType">
		<xs:annotation>
			<xs:documentation>Übertragungsnachricht in Abonnementschema.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:group ref="PushMessageGroup"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IxsiMessageType">
		<xs:annotation>
			<xs:documentation>Typ für all IXSI-Nachrichten.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Request" type="QueryRequestType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Unabhängige Resultate im Anfrageschema.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Response" type="QueryResponseType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Unabhängige Antworten in Anfrageschema.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubscriptionRequest" type="SubscriptionRequestType">
				<xs:annotation>
					<xs:documentation>Anfrage in Abonnementschema. Jede Anfrage führt zu mindestens einer Anfrage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubscriptionResponse" type="SubscriptionResponseType">
				<xs:annotation>
					<xs:documentation>Antwort im Abonnementschema. Jede Antwort korrespondiert exakt mit einer Anfrage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubscriptionMessage" type="SubscriptionMessageType">
				<xs:annotation>
					<xs:documentation>Push-Nachricht in Abonnementschema.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Ixsi" type="IxsiMessageType">
		<xs:annotation>
			<xs:documentation>Rootelement für alle IXSI-Nachrichten. IXSI = Interface für X-Sharing Information.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
